body
{
	background: #E2E8F0;
	font-family: 'Roboto', Arial, sans-serif;
	margin: 0px;
	padding: 0px;
}
button
{
	background: #467E5B;
	border: none;
	border-radius: 25px;
	color: white;
	padding: 0px 10px 0px 10px;
}
li
{
	color: white;
	font-size: 18px;
	list-style-type: none;
	margin: 20px 0px;
}
.container
{
	display: grid;
	grid-template-columns: minmax(225px, 1fr) 5fr;
	grid-template-rows: minmax(125px, 1fr) 5fr;
	height: 100vh;
}
.projects
{
	background-color: #E2E8F0;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
	grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
	margin-right: 30px;
	padding: 5px;
}
.projects .card
{
	background-color: white;
	border-left: 5px solid #0085D6;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	padding: 10px;
}
.container-header
{
	border: none;
	box-shadow: none;
	font-weight: 700;
	padding: 5px;
}
.header
{
	align-items: center;
	background: white;
	box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.29);
	display: grid;
	gap: 5px;
	grid-template-rows: 1fr 2fr;
	padding: 10px;
}
.header .top
{
	display: grid;
	grid-template-columns: 3fr 1fr;
}
.header .bottom
{
	display: grid;
	grid-template-columns: 2fr 1fr;
}
.search, .display-profile
{
	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 10fr;
	padding: 5px;
}
.search-bar
{
	background: #E2E8F0;
	border: none;
	border-radius: 15px;
	height: 80%;
	width: 75%;
}
.access-profile, .account-buttons
{
	display: grid;
	gap: 15px;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	grid-template-rows: repeat(1, clamp(30px, 40px, 50px));
	padding: 5px;
}
.access-profile > div
{
	align-self: center;
}
.search > .icon
{
	align-self: center;
}
.display-user-container
{
	align-self: start;
	grid-template-rows: 1fr 1fr;
}
.sidebar
{
	display: grid;
	gap: 10px;
	grid-template-rows: 1fr 10fr;
}
.logo-text
{
	font-size: 24px;
	margin-right: 40px;
}
.logo-container
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
}
.logo-container > div
{
	color: white;
	font-weight: 700;
}
.logo
{
	display: grid;
	place-items: center;
}
.profile-png
{
	margin: 0px;
	object-fit: cover;
	padding: 0px;
	width: 50%;
}
.logo > img
{
	height: auto;
	object-fit: cover;
	width: 50%;
}
.menus
{
	display: grid;
	gap: 25px;
	grid-template-rows: repeat(auto-fit, minmax(100px, 300px));
}
.menus .li
{
	display: grid;
	gap: 10px;
}
.menus > div
{
	margin: 10px;
}
.card .icons
{
	align-items: center;
	display: grid;
	gap: 20px;
	grid-template-columns: 20px 20px 20px;
	justify-self: end;
}
.main
{
	display: grid;
	grid-template: 1fr 1fr / 4fr 1fr;
	margin-right: 10px;
	margin-top: 10px;
	padding: 10px;
}
.notifications
{
	display: grid;
	gap: 30px;
	grid-template-rows: minmax(150px, 2fr) minmax(150px, 2fr);
}
.content
{
	background: white;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sidebar
{
	background-color: #00BF6F;
	grid-row: 1 / -1;
}
.announcements .content, .social .content
{
	display: grid;
	grid-template-rows: repeat(auto-fit, 1fr);
}
.content .card
{
	border-bottom: 1px solid lightgray;
	font-size: 12px;
	padding: 10px;
}
.hello
{
	font-size: 12px;
}
.card > p
{
	font-size: 12px;
	padding-right: 20px;
}
.card .title, .username
{
	font-size: 18px;
	font-weight: 700;
}
.trending-profile
{
	display: grid;
}
.trending-profile > img
{
	align-self: center;
	height: auto;
	object-fit: cover;
	width: 100%;
}